<div id="selecao">
    <div id="lista-playlists">
        <!-- aqui vai o filtro do container -->
         <h2 *ngFor="let item of items" class="item-lista-playlists" (click)="setPlaylist(item.nome)" >{{item.nome}}</h2>
    </div>
    <button (click)="openDialogPl()" id="adicionar-playlist">+</button>
    <div id="container-selecao-thumbs">
        <!-- aqui vão os cards dos filmes -->
         <div *ngFor="let movie of movies" (click)="setFilme(movie.title)" class="thumb-filme">
            <img [src]="movie.thumb_image" class="thumbnail"/>
            <mat-icon class="icone-thumb">play_arrow</mat-icon>
            <div class="info-thumb">
                <p class="duracao-thumb"> {{ movie.duracao }}</p>
                <p class="nome-thumb"> {{ movie.title }} </p>
            </div>
         </div>
         <button (click)="openDialogMv()" id="botao-adicionar-filme">+</button>
    </div>
</div>
