<div id="selecao">
    <div id="lista-playlists">
        <!-- aqui vai o filtro do container -->
         <h2 class="item-lista-playlists">Vingadores</h2>
         <h2 class="item-lista-playlists">Capitão América</h2>
         <h2 class="item-lista-playlists">Spider Man</h2>
         <h2 class="item-lista-playlists">Harry Potter</h2>
         <h2 class="item-lista-playlists">Senhor dos Anéis</h2>
    </div>
    <div id="container-selecao-thumbs">
        <!-- aqui vão os cards dos filmes -->
         <div class="thumb-filme">
            <img src="https://play-lh.googleusercontent.com/proxy/5hMLABfOVOW_TuYlrilT4xLJonglkWXviBeu_l9oWA11fTOeCrtNggG8rrqBbapGBSHPrUy3C5Rurxq3rlC05hixjPWs-xwLDZWG28YeB_8hTVim76Sk=s1920-w1920-h1080" class="thumbnail"/>
            <mat-icon class="icone-thumb">play_arrow</mat-icon>
            <div class="info-thumb">
                <p class="duracao-thumb"> 1h 40min</p>
                <p class="nome-thumb">Iron Man 1</p>
            </div>
         </div>
    </div>
</div>
