<div id="navbar">
    <div id="container-logo-menu">
        <img src="assets/img/logo.png" id="logo-caixa" />
        <div id="links-menu">
            <button class="link-navbar">Home</button>
            <button class="link-navbar">Movies</button>
            <button class="link-navbar">Series</button>
            <button class="link-navbar">News</button>
            <button class="link-navbar">My List</button>
        </div>
    </div>
    <div id="container-botao-icones">

        <input type="text" placeholder="Avengers" id="input-pesquisa">
        <button id="botao-pesquisa">
            <mat-icon id="icone-pesquisa">search</mat-icon>
        </button>

        <button id="botao-notif">
            <mat-icon id="icone-notif">notifications</mat-icon>
        </button>
        <button id="botao-login">Login</button>
    </div>
</div>
