.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-inline: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.background-main{
    height: 125%;
    top:-40px;
    left: -40px;
    width: auto;
    position: absolute;
    z-index: -1;
    opacity: .2;
    -webkit-user-drag: none;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0; /* Torna a imagem invisível antes da troca */
}

.cor-fundo-imagem{
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    position: absolute;
    z-index: -1;
    -webkit-user-drag: none;
    background-color: black;
}