<div class="container-informacoes-filme">
   
    <img [src]="(filmeSelecionado$ | async)?.title_image" alt="" class="arte-titulo-filme">
    <div class="subtitulo-info">
        <p class="ano-lancamento">{{ (filmeSelecionado$ | async)?.ano_lancamento }}</p>
        <p class="idade">{{ (filmeSelecionado$ | async)?.f_etaria }}</p>
        <p class="duracao">{{ (filmeSelecionado$ | async)?.duracao }}</p>
    </div>
    <p class="sinopse">{{ (filmeSelecionado$ | async)?.sinopse }}</p>
    <div class="conteiner-assistir-moreinfo">
        <button class="botao-play"><mat-icon class="icone-play">play_arrow</mat-icon>Play</button>
        <button (click)="debug()" class="botao-moreinfo">More info</button>
    </div>

</div>
